@{
    ViewBag.Title = "Map";
}
<main id="main">


    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>Studentilor Street</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>info@example.com<br>admiral@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+373 683 23 564<br>+373 759 34 463</p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

        </div>
    </section><!-- End Contact Section -->
    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
        <div class="container-fluid p-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2717.406586095578!2d28.820641515781746!3d47.01045297915242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cbe04cb2cfa4bb%3A0x6c0d4d737ad40aa9!2sTechnical%20University%20of%20Moldova!5e0!3m2!1sen!2s!4v1622036274887!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

    </section><!-- End Map Section -->

</main><!-- End #main -->