@{
    ViewBag.Title = "Home";
}


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">
                        Calatorii, fiecare pas dezvaluie o noua poveste</h2>
                        <h3 class="animate__animated animate__fadeInUp" style="color: white;">„O călătorie de o mie de mile începe cu un singur pas” - Lao Tzu</h3>
</div>
            </div>


            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Why Us Section ======= -->
        <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 video-box" style="position: relative;">
                        <img src="/Content/img/yt_thumb.jpg" class="img-fluid" alt="" style="height: 200px; object-fit: cover; margin-left: 20%;">
                        <a href="https://www.youtube.com/watch?v=ETzFHaKTe-g" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-flag"></i></div>
                            <h4 class="title"><a href="">Top 10 Best Things to Do in Moldova</a></h4>
                            <p class="description">Moldova, țara cu comori ascunse și planuri de aur, te invită să descoperi peisaje idilice, cultură bogată și ospitalitate autentică </p>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Why Us Section -->
        <!-- ======= Features Section ======= -->
        <section class="features">
            <div class="container">

                <div class="section-title">
                    <h2>Transport</h2>
                    <p>Optăm pentru un transport eficient și plin de confort pentru a transforma fiecare moment din această nouă aventură într-o experiență de neuitat</p>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="/Content/img/Train.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3>Pentru transport feroviar, recomandăm https://www.cfrcalatori.ro/en/moldova/</h3>
                        <p>
                            CFR Călătorii oferă o varietate de facilități și servicii pentru pasageri, inclusiv diverse clase de călătorie,
                            precum și săli de așteptare și vagoane confortabile sau spații de stocare, pentru a asigura o călătorie plăcută și sigută.
                        </p>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="/Content/img/Bus.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>Pentru transport pe șosea direct până la destinații, recomandăm https://travelpoint.md/transport/</h3>
                        <p>
                            Această companie furnizează servicii de transport pentru excursii îndepărtate, asigurând călătorii
                            confortabile și sigure cu autobuze, autocare sau taxiuri, adresate grupurilor de călători.
                        </p>
                    </div>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="~/Content/img/airplane.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5">
                        <h3>Pentru transport aierian, recomandăm https://www.airmoldova.md/</h3>
                        <p>
                            Călătoria cu AirMoldova este rapidă, oferindu-vă o experiență sigură și plăcută. Pasagerii sunt
                            răsfățați cu servicii precum apă gratuită și posibilitatea de a comanda mâncare pe parcursul zborului.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->

    </main><!-- End #main -->
