@{
    ViewBag.Title = "Job";
}

<<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <h1 class="text-center">Oferte Lucru</h1>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Aplica pentru un loc de muncă</h2>
            </div>
            <div class="card-body">
                <p>Pentru a aplica pentru un loc de muncă, te rugăm să completezi formularul următor:</p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe3_HvGm3MEnICFAVNl1fQMKDCjr3WSV-Iit3Jyqe5_bQb0ew/viewform?usp=sf_link" class="btn btn-primary" target="_blank">Completează formularul</a>
            </div>
        </div>
    </div>
</section>
