
@{
    ViewBag.Title = "History";
}


    <header>
        <h1>History of Moldova</h1>
    </header>

    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="/Content/img/MoldovaHistory.jpg" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=UHxGKJMX5hw" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-flag"></i></div>
                        <h4 class="title"><a href="">Istoria Moldova</a></h4>
                        <p class="description">Moldova, o țară cu comori ascunse și câmpii aurii, vă invită să descoperiți peisaje idilice, cultura bogată și ospitalitatea autentică.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-12">
                    <p class="description">
                            Întemeierea Moldovei a început odată cu sosirea voievodului vlah, Dragoș, însoțit de oamenii săi din Maramureș, în regiunea râului Moldova. Dragoș a stabilit un statut vasal al Regatului Ungariei în anii 1350. Independența Principatului Moldovei a fost câștigată când Bogdan I, un alt voievod vlah din Maramureș, a traversat Carpații în 1359 și a preluat controlul Moldovei, smulgând regiunea din Ungaria. Moldova a rămas principat până în 1859, când s-a unit cu Țara Românească, marcând începutul dezvoltării statului român modern.

                        Culturi concurente în regiunea viitoare a Moldovei
                        Moldova a evoluat în regiunea cuprinsă între Munții Carpați și râul Nistru, care a fost dominată de popoare turcice nomade, precum pecenegii, ouzeii și cumanii, începând cu anul 900. Teritoriul a fost subiectul extinderii Principatului Halych și a Regatului Ungariei vecine începând cu anul 1150, dar Hoarda de Aur - un hanat mongol și mai târziu turcizat - a preluat controlul asupra teritoriului de la est de Carpați în anii 1240. Mongolii au stimulat comerțul internațional, iar de-a lungul Nistrului a apărut o rută comercială importantă. Circulația monedelor maghiare și boeme arată că au existat contacte economice strânse între bazinul Moldovei și Europa Centrală la începutul secolului al XIV-lea.

                        Pe lângă populația turcă dominantă, cronicile și documentele medievale menționează și alte popoare care au trăit între Carpați și Nistru, inclusiv ulichienii și tivercienii în secolul al IX-lea, iar brodnicii și alanii în secolul al XIII-lea. Prezența vlahilor în această regiune este bine documentată din anii 1160. Politicile lor locale au fost menționate pentru prima dată în secolul al XIII-lea: mongolii i-au învins pe Qara-Ulagh, sau vlahii negri, în 1241, iar vlahii au invadat Halych la sfârșitul anilor 1270.

                        Vlahii - primii români - și vecinii lor
                        Regiunea Moldovei - între Carpații Orientali și Nistru - și-a dobândit o identitate teritorială în secolul al XIV-lea. În timpul mileniului precedent, regiunea a fost supusă invaziilor popoarelor nomade, urmată de o perioadă pașnică în jurul anului 750, în timpul hanatului Khazar, care a dus la creșterea populației din regiune. O nouă cultură materială - „cultura Dridu” - s-a răspândit în ținuturile de-a lungul Dunării de Jos și în teritoriul de la est de Carpați. După sosirea maghiarilor în stepele pontice de la nord de Marea Neagră în anii 830, locuitorii locali și-au fortificat așezările cu palisade și șanțuri adânci de-a lungul Nistrului în secolul al IX-lea. Ulichienii, tivercienii, „Waladj” și „Blaghā” sunt grupuri etnice care au fost legate de vlahi, sau românii, din regiunea Carpaților.

                        Victor Spinei a scris că o piatră runică datând de la 1050 conține cea mai veche referire la românii care trăiesc la est de Carpați. Se referă la Blakumen care a ucis un negustor varangian într-un loc nespecificat.

                        Un grup concurent, maghiarii, a părăsit stepele pontice spre Bazinul Carpaților după ce o coaliție de pecenegi și bulgari i-a învins la sfârșitul secolului al IX-lea. Pecenegii au preluat controlul asupra teritoriului, dar majoritatea așezărilor Dridu au supraviețuit sosirii lor. Doar fortificațiile au fost distruse în secolul al X-lea sau începutul secolului al XI-lea. De-a lungul cursului inferior al Prutului au apărut noi așezări. Riturile de înmormântare ale locuitorilor locali s-au schimbat radical: inhumarea a înlocuit incinerarea și nici un obiect funerar nu poate fi detectat după aproximativ 1000.

                        Invazia și ocupația mongolă
                        Potrivit istoricului persan, Rashid-al-Din Hamadani, o armată mongolă „a trecut prin Qara-Ulagh și înfrângând popoarele Ulagh” în timpul invaziei mongole din 1241. Narațiunea sa arată că „Quara-Ulagh”, sau vlahii negri, trăiau în Carpații Orientali sau Meridionali. Giovanni di Plano Carpini, un trimis papal la Marele Han al Mongolilor, sa întâlnit cu un „duce Olaha” care „pleca cu” alaiul său la mongoli în 1247. Victor Spinei, Vlad Georgescu și alți istorici îl identifică pe ducele drept un conducător vlah, deoarece numele său este asemănător cu cuvântul maghiar pentru vlah, dar este posibil ca numele să fi fost și o versiune a lui Oleg. Fraile William de Rubruck, care a vizitat curtea Marelui Han în anii 1250, a enumerat „
                        Întemeierea Moldovei, cunoscută și sub numele de Descălecatul Moldovei, a început odată cu sosirea voievodului vlah, Dragoș, urmat de oamenii săi din Maramureș, în regiunea râului Moldova. Dragoș a stabilit un statut de vasal al Regatului Ungariei în anii 1350. Independența Principatului Moldovei a fost câștigată când Bogdan I, un alt voievod vlah din Maramureș, a traversat Carpații în 1359 și a preluat controlul Moldovei, smulgând regiunea din Ungaria. Moldova a rămas principat până în 1859, când s-a unit cu Țara Românească, marcând începutul dezvoltării statului român modern.

                        Culturi concurente în viitoarea regiune a Moldovei
                        Moldova s-a dezvoltat în ținuturile dintre Munții Carpați și râul Nistru, care fuseseră dominate de popoare turcice nomade - pecenegii, ouzei și cumanii - din jurul anului 900. Principatul Halych și Regatul Ungariei învecinat au început să-și extindă autoritatea asupra unor părți din teritoriu în jurul anului 1150, dar Hoarda de Aur - un hanat mongol și ulterior turcizat - a preluat controlul asupra ținuturilor de la est de Carpați în anii 1240. Mongolii au promovat comerțul internațional, iar de-a lungul Nistrului s-a dezvoltat o rută comercială importantă. Circulația monedelor maghiare și boeme arată că au existat și contacte economice strânse între bazinul Moldovei și Europa Centrală la începutul secolului al XIV-lea.

                        Pe lângă populația turcă dominantă, cronicile și documentele medievale menționează și alte popoare care au trăit între Carpați și Nistru, printre care ulichienii și tivercienii în secolul al IX-lea, iar brodnicii și alanii în secolul al XIII-lea. Prezența vlahilor în acel teritoriu este bine documentată din anii 1160. Politicile lor locale au fost menționate pentru prima dată în secolul al XIII-lea: mongolii i-au învins pe Qara-Ulagh, sau vlahii negri, în 1241, iar vlahii au invadat Halych la sfârșitul anilor 1270.

                        Vlahii - primii români - și vecinii lor
                        Regiunea Moldovei - între Carpații Orientali și râul Nistru - și-a dobândit o identitate teritorială în secolul al XIV-lea. În timpul mileniului precedent, regiunea a fost supusă invaziilor popoarelor nomade, urmată de o perioadă pașnică în jurul anului 750 în timpul hanatului Khazar, care a dus la creșterea populației din regiune. O nouă cultură materială - „cultura Dridu” - s-a răspândit în ținuturile de-a lungul Dunării de Jos și în teritoriul de la est de Carpați. După sosirea maghiarilor în stepele pontice de la nord de Marea Neagră în anii 830, locuitorii locali și-au fortificat așezările cu palisade și șanțuri adânci de-a lungul Nistrului în secolul al IX-lea. Ulichienii, tivercienii, „Waladj” și „Blaghā” sunt grupuri etnice care au fost legate de vlahii, sau românii, din regiunea Carpaților.

                        Victor Spinei a scris că o piatră runică care a fost înființată în jurul anului 1050 conține cea mai veche referire la românii care trăiesc la est de Carpați. Se referă la Blakumen care a ucis un negustor varangian într-un loc nespecificat.

                        Un grup concurent, maghiarii, a părăsit stepele pontice spre Bazinul Carpaților după ce o coaliție de pecenegi și bulgari i-a învins la sfârșitul secolului al IX-lea. Pecenegii au preluat controlul asupra teritoriului, dar majoritatea așezărilor Dridu au supraviețuit sosirii lor. Doar fortificațiile au fost distruse în secolul al X-lea sau începutul secolului al XI-lea. De-a lungul cursului inferior al Prutului au apărut noi așezări. Riturile de înmormântare ale locuitorilor locali s-au schimbat radical: inhumarea a înlocuit incinerarea și nici un obiect funerar nu poate fi detectat după aproximativ 1000.

                        Invazia și ocupația mongolă
                        Potrivit istoricului persan, Rashid-al-Din Hamadani, o armată mongolă „a trecut prin Qara-Ulagh, traversând munții și înfrângând popoarele Ulagh” în timpul invaziei mongole din 1241. Narațiunea sa arată că „Quara-Ulagh”, sau vlahii negri, trăiau în Carpații Orientali sau Meridionali. Giovanni di Plano Carpini, un trimis papal la Marele Han al Mongolilor, sa întâlnit cu un „duce Olaha” care „pleca cu” alaiul său la mongoli în 1247. Victor Spinei, Vlad Georgescu și alți istorici îl identifică pe ducele drept un conducător vlah, deoarece numele său este asemănător cu cuvântul maghiar.
                    </p>
                </div>
            </div>
        </div>
    </section>

