@{
    ViewBag.Title = "Team";
}

<main id="main">

    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/team-1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Mihai Mîrzac</h4>
                            <span>CEO</span>
                            <p>mihai@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/team-2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Andreana Batranac</h4>
                            <span>CTO</span>
                            <p>andreana@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/team-3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Denis Crețu</h4>
                            <span>Manager</span>
                            <p>denis@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Team Section -->
    <!-- ======= Company Info Section ======= -->
    <section class="company-info" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Despre compania noastră</h3>
                    <h6>
                        Înființată în 2023, este dedicată furnizării de servicii și soluții de top pentru călătoriile locale.
                        Cu o echipă puternică de profesioniști, ne propunem să oferim excelență și inovație în fiecare proiect
                        ne angajăm. Misiunea noastră este de a conduce progresul și de a crea valoare pentru clienții noștri prin intermediul nostru
                        angajamentul față de calitate și satisfacția clienților.
                    </h6>
                </div>
            </div>
        </div>
    </section><!-- End Company Info Section -->
</main><!-- End #main -->
