<<<<<<< HEAD
﻿@{
=======
﻿
@{
>>>>>>> f006cfef8bd9ec470295ed59af47bbd576fe2fa1
    ViewBag.Title = "Team";
}

<main id="main">

    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">
<<<<<<< HEAD
=======

>>>>>>> f006cfef8bd9ec470295ed59af47bbd576fe2fa1
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/team-1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Mihai Mîrzac</h4>
                            <span>CEO</span>
<<<<<<< HEAD
                            <p>mihai@gmail.com</p>
=======
                            <p> Ca CEO al acestei aplicații web de călătorii dedicate regiunii locale Moldova, sunt mândru să prezint o platformă inovatoare care conectează călătorii cu experiențe autentice în Moldova. Cu o gamă variată de destinații și activități, încurajăm explorarea și descoperirea frumuseților naturale, culturale și istorice ale Moldovei. Echipa noastră pasionată lucrează neobosit pentru a oferi utilizatorilor noștri o experiență senzațională, cu ghiduri profesioniste și servicii personalizate. Cu tehnologie de vârf și o abordare orientată către client, ne propunem să devenim liderul de piață în industria călătoriilor locale din Moldova.</p>
>>>>>>> f006cfef8bd9ec470295ed59af47bbd576fe2fa1
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/team-2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Andreana Batranac</h4>
                            <span>CTO</span>
<<<<<<< HEAD
                            <p>andreana@gmail.com</p>
=======
                            <p>În calitate de CTO pentru această aplicație web de călătorii, vizez să dezvolt și să optimizez platforma noastră pentru o experiență fluidă și captivantă. Prioritățile mele includ implementarea tehnologiilor de ultimă generație pentru o interfață intuitivă, precum și securizarea datelor utilizatorilor pentru confidențialitate și încredere. Colaborând strâns cu echipa noastră de dezvoltare, urmărim să creăm funcționalități inovatoare, precum realitatea augmentată pentru ghidaje interactive și personalizate. Ne angajăm să menținem platforma noastră la standarde ridicate de performanță și fiabilitate, oferind călătorilor o experiență digitală de neuitat în frumoasa regiune a Moldovei.</p>
>>>>>>> f006cfef8bd9ec470295ed59af47bbd576fe2fa1
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/team-3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Denis Crețu</h4>
                            <span>Manager</span>
<<<<<<< HEAD
                            <p>denis@gmail.com</p>
                        </div>
                    </div>
                </div>
=======
                            <p>În rolul de Manager al Excursiilor pentru aplicația noastră web de călătorii în Moldova, coordonez cu grijă toate aspectele legate de planificarea și organizarea excursiilor. Misiunea mea este să oferim călătorilor experiențe autentice și memorabile în această regiune unică. În colaborare strânsă cu ghizii locali și partenerii noștri, dezvoltăm itinerarii captivante și adaptate nevoilor și preferințelor călătorilor. Monitorizez calitatea serviciilor oferite și mă asigur că fiecare călător primește atenția și îndrumarea necesare pentru a descoperi frumusețile Moldovei într-un mod plin de satisfacții.</p>
                        </div>
                    </div>
                </div>

>>>>>>> f006cfef8bd9ec470295ed59af47bbd576fe2fa1
            </div>

        </div>
    </section><!-- End Team Section -->
<<<<<<< HEAD
    <!-- ======= Company Info Section ======= -->
    <section class="company-info" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Despre compania noastră</h3>
                    <h6>
                        Înființată în 2023, este dedicată furnizării de servicii și soluții de top pentru călătoriile locale.
                        Cu o echipă puternică de profesioniști, ne propunem să oferim excelență și inovație în fiecare proiect
                        ne angajăm. Misiunea noastră este de a conduce progresul și de a crea valoare pentru clienții noștri prin intermediul nostru
                        angajamentul față de calitate și satisfacția clienților.
                    </h6>
                </div>
            </div>
        </div>
    </section><!-- End Company Info Section -->
</main><!-- End #main -->
=======

</main><!-- End #main -->
>>>>>>> f006cfef8bd9ec470295ed59af47bbd576fe2fa1
