@{
    ViewBag.Title = "Reviews";
}

<<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <h1 class="text-center">Recenzii</h1>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Lasă o recenzie</h2>
            </div>
            <div class="card-body">
                <p>Pentru a lăsa o recenzie, te rugăm să completezi formularul următor:</p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDNWtDXZ-0b_y5aEzQRUwstjCFC83xfUPM7NWR0d53jFOKfg/viewform?usp=sf_link" class="btn btn-primary" target="_blank">Completează formularul</a>
            </div>
        </div>
    </div>
</section>
