@{
    ViewBag.Title = "Parks";
}

<<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <h1 class="text-center"> Parks</h1>
        <!-- ======= Category Details Section ======= -->
        <section class="category-details">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Parcul Dendrarium.jpg" alt="Parcul Dendrarium">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Parcul Dendrarium</a></h5>
                                <p class="card-text">Dendrariul din Moldova este o oază verde și pitorească, un paradis al naturii în inima țării. Acest parc botanic fascinant adăpostește o varietate bogată de specii de plante, inclusiv arbori seculari, arbuști ornamentali și flori exotice, toate îmbrățișând vizitatorii cu frumusețea și prospețimea lor. Cu aleile sale pitorești, lacuri linistite și colțuri de relaxare, dendrariul este locul perfect pentru plimbări relaxante și momente de contemplare în mijlocul naturii. Aici, oamenii se pot bucura de biodiversitatea și frumusețea peisajului, respirând aerul proaspăt și încărcându-și sufletele cu liniște și armonie.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Parcul Stefan cel Mare.jpg" alt="Parcul Stefan cel Mare">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Parcul Stefan cel Mare</a></h5>
                                <p class="card-text">Parcul Ștefan cel Mare este unul dintre cele mai iubite locuri din Moldova, o oază urbană situată în inima orașului. Cu aleile sale încântătoare, copaci seculari și zone verzi generoase, acest parc este un refugiu perfect pentru locuitorii orașului și turiști. Atmosfera sa relaxantă și plină de viață îi atrage pe oameni de toate vârstele, oferindu-le un loc de recreere și socializare. Fie că este vorba despre plimbări romantice, exerciții matinale sau doar timp petrecut în natură, Parcul Ștefan cel Mare oferă un cadru fermecător pentru relaxare și bucurie în mijlocul agitației urbane.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Valea Morilor.jpg" alt="Valea Morilor">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Valea Morilor</a></h5>
                                <p class="card-text">Parcul Valea Morilor este un colț idilic de natură în inima Chișinăului, Moldova. Cu peisaje pitorești și un lac central fermecător, acest parc își întâmpină vizitatorii cu frumusețea sa naturală și cu o atmosferă plină de liniște și relaxare. Aleile sale umbroase sunt locul ideal pentru plimbări romantice sau pentru o pauză de la agitația urbană. Parcul este adesea animat de localnici și turiști care se bucură de sporturi în aer liber, picnicuri și întâlniri sociale. Cu o varietate de activități și cu peisaje minunate, Parcul Valea Morilor este un refugiu fermecător în mijlocul orașului.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Category Details Section -->
    </div>
</section>