@{
    ViewBag.Title = "Culture";
}

<<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <h1 class="text-center"> Culture</h1>
        <!-- ======= Category Details Section ======= -->
        <section class="category-details">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Muzeul Național de Etnografie și Istorie Naturală.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Muzeul Na?ional de Etnografie ?i Istorie Natural?</a></h5>
                                <p class="card-text">Muzeul Național de Etnografie și Istorie Naturală din Chișinău, Moldova, este o comoară culturală ce aduce în prim plan bogăția și diversitatea patrimoniului etnografic și natural al țării. Aici, vizitatorii pot explora expoziții captivante ce ilustrează tradițiile, obiceiurile și viața cotidiană a poporului moldovean de-a lungul timpului, în paralel cu o varietate impresionantă de specii de plante și animale din regiune. Cu exponate interactive care aduc istoria și natura la viață, muzeul oferă o experiență educativă și distractivă pentru toate vârstele, reprezentând o destinație de neuitat în călătoriile culturale prin Moldova.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Crama Asconi.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Crama Asconi</a></h5>
                                <p class="card-text">Crama Asconi reprezintă un loc de renume în Moldova, fiind o destinație deosebită pentru iubitorii de vin și turism viticol. Situată în pitorescul ținut al Codrilor de pe malurile râului Nistru, crama se remarcă prin peisajele sale idilice și vinurile de o calitate excepțională. Aici, oaspeții sunt invitați să descopere procesul de producție al vinului, să deguste selecții premium și să se bucure de o experiență autentică în mijlocul viilor. Crama Asconi este locul ideal pentru cei ce doresc să exploreze bogăția viticolă a Moldovei și să se delecteze cu aromele și gusturile unice ale vinurilor locale.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Complexul Arheologic Vechiul Orhei.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Complexul Arheologic Vechiul Orhei</a></h5>
                                <p class="card-text">Complexul Arheologic Vechiul Orhei este o comoară culturală în inima Moldovei, evocând străvechea sa istorie și bogata sa moștenire culturală. Situat pe malurile pitorești ale râului Răut, acest ansamblu arheologic impresionează prin varietatea sa, incluzând ruinele așezărilor neolitice, cetăți medievale, biserici și mănăstiri ortodoxe. Peisajul său captivant, cu stânci calcaroase și peșteri, aduce o atmosferă magică locului. Vizitatorii sunt invitați să exploreze ruinele vechi, să se întoarcă în timp și să descopere secretele și frumusețea acestui loc încărcat de istorie și tradiție. Complexul Arheologic Vechiul Orhei este un punct de atracție culturală și turistică deosebit în Moldova.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Category Details Section -->
    </div>
</section>