@{
    ViewBag.Title = "Questions";
}

<<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
     <div class="container">
         <h1 class="text-center">Întrebări</h1>

         <div class="card mt-4">
             <div class="card-header">
                 <h2>Pune o întrebare</h2>
             </div>
             <div class="card-body">
                 <p>Pentru a pune o întrebare, te rugăm să completezi formularul următor:</p>
                 <a href="https://docs.google.com/forms/d/e/1FAIpQLSeU5QA5dEpDUxz66VYnws9ctqt4D5G_60_XA4QaunYIoUV6zw/viewform?usp=sf_link" class="btn btn-primary" target="_blank">Completează formularul</a>
             </div>
         </div>
     </div>
</section>

