@{
    ViewBag.Title = "Wineries";
}

<<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <h1 class="text-center"> Wineries</h1>
        <!-- ======= Category Details Section ======= -->
        <section class="category-details">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Vinaria Cricova.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Vinaria Cricova</a></h5>
                                <p class="card-text">Vinăria Cricova este o destinație vinicolă remarcabilă din Moldova, celebră pentru cel mai mare complex de păstrare a vinului din lume. Situată într-un fost adăpost subteran al armatei, Cricova oferă turiștilor o experiență unică în explorarea peisajului subteran, cu peste 120 de kilometri de galerii, dintre care aproximativ 60 sunt utilizate pentru îmbătrânirea vinului. Vizitatorii pot explora pe jos sau cu mașina galeriile, savurând vinuri deosebite și descoperind colecții impresionante. Cu o istorie bogată și vinuri premiate, Vinăria Cricova este o destinație de nelipsit pentru iubitorii de vin și cei pasionați de experiențe unice</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End Category Details Section -->
    </div>
</section>