@{
    ViewBag.Title = "Monuments";
}

<<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <h1 class="text-center"> Monuments</h1>
        <!-- ======= Category Details Section ======= -->
        <section class="category-details">
            <div class="container">
                <div class="row">
                    <!-- Example cards for Monuments, repeat and modify for each category -->
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Arc de triumf.jpg" alt="Arc de Triumf">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Arc de Triumf</a></h5>
                                <p class="card-text">Arcul de Triumf din Chișinău, Moldova, este un monument impresionant ce marchează independența și spiritul eroic al poporului moldovean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Memorialul Victoriei și Flacăra Eternă.jpg" alt="Memorialul Victoriei și Flacăra Eternă">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Memorialul Victoriei și Flacăra Eternă</a></h5>
                                <p class="card-text">Memorialul Victoriei și Flacăra Eternă din Chișinău este un simbol al recunoștinței și sacrificiului în memoria eroilor căzuți în cel de-al Doilea Război Mondial.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Add more cards for this category as needed -->
                </div>
            </div>
        </section><!-- End Category Details Section -->
    </div>
</section>