@{
    ViewBag.Title = "Church";
}

<style>
    .service-categories {
        margin-top: 7%;
    }
</style>

<<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <h1 class="text-center"> Church</h1>
        <!-- ======= Category Details Section ======= -->
        <section class="category-details">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Catedrala Nașterea Domnului.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Catedrala Nașterea Domnului</a></h5>
                                <p class="card-text">Catedrala Nașterea Domnului din Chișinău, Moldova, este o icoană arhitecturală și spirituală ce domină peisajul orașului. Cu o fațadă impunătoare și o arhitectură grandioasă, catedrala este un simbol al credinței și al tradițiilor religioase ale poporului moldovean. Interiorul său încântător găzduiește fresce și icoane sacre, oferind un loc de reculegere și adorare. Localnicii și turiștii vin aici pentru a se ruga, pentru a admira frumusețea arhitecturală sau pentru a învăța despre istoria și cultura locului. Catedrala Nașterea Domnului este un monument al credinței și al identității naționale.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Cetatea Bendery.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Cetatea Bendery</a></h5>
                                <p class="card-text">Cetatea Bendery, situată pe malul stâng al Nistrului în orașul Bender, este un simbol istoric și arhitectural al Moldovei. Cu o istorie îndelungată și tumultoasă, cetatea a fost martoră la numeroase evenimente importante din trecutul regiunii. Construită inițial în secolul al XVI-lea și extinsă ulterior, cetatea impresionează prin zidurile sale masive și bastioanele bine conservate. Astăzi, vizitatorii pot explora ruinele fascinante ale cetății, descoperind secretele și legende străvechi. Cetatea Bendery este un punct de atracție culturală și turistică, oferind o privire fascinantă în istoria plină de încercări a Moldovei.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="/Content/img/Travel/Orheiul vechi.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Orheiul vechi</a></h5>
                                <p class="card-text">Orheiul Vechi este o comoară culturală și istorică situată în Republica Moldova, reprezentând o fereastră către trecutul îndepărtat al regiunii. Așezat pe malurile râului Răut, acest complex arheologic și religios adăpostește vestigii din diferite perioade istorice, inclusiv ruinele unor așezări neolitice, fortificații medievale și mănăstiri ortodoxe. Peisajul său pitoresc, dominat de stâncile calcaroase și peșterile naturale, aduce un farmec aparte locului. Orheiul Vechi este o destinație populară pentru turiști și pelerini, oferind o incursiune fascinantă în istoria și spiritualitatea Moldovei.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Category Details Section -->
    </div>
</section>